{{#bookData}}
<form id="addItem" action="/" method="post">
  <input type="text" name="title" placeholder="Title" value="{{title}}">
  <input type="text" name="author" placeholder="Author" value="{{author}}">
  <input type="number" maxlength="6" name="page" placeholder="Page Count" value="{{pageCount}}">
  <input type="number" maxlength="4" name="year" placeholder="Year Published" value="{{publishing.year}}">
  <input type="text" name="publisher" placeholder="Publisher" {{publishing.publisher}}>
  <input type="text" name="city" placeholder="City of Publishing" value="{{publisher.city}}">
  <input type="submit" name="button">
</form>
{{/bookData}}
