<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>

    <nav>
      <a href="/">View your Bookshelf</a>
      <a href="/create">Add to Your Shelf</a>
      <a href="/delete">Remove from the Shelf</a>
      <a href="/edit">Edit a Book</a>
    </nav>
    <div class="container">
      {{{yield}}}

    </div>

  </body>
</html>
