
<div class="results">


<form id="addItem" action="/" method="post">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="author" placeholder="Author">
  <input type="number" maxlength="6" name="page" placeholder="Page Count">
  <input type="number" maxlength="4" name="year" placeholder="Year Published">
  <input type="text" name="publisher" placeholder="Publisher">
  <input type="text" name="city" placeholder="City of Publishing">
  <input type="submit" name="button">
</form>

{{#bookData}}
<ul>
  <li>"{{title}}"</li>
  <li> written by: {{author}}</li>
</ul>

<form class="" action="/delete/{{id}}" method="post">
  <button type="submit" name="deleteBtn" value="{{id}}">Delete Book</button>
</form>

<form class="" action="/edit{{id}}" method="post">
  <button type="button" name="editButton">Edit Book</a></button>
</form>

{{/bookData}}

</div>
